<body  class="background">

  <p>
    <mat-toolbar class="transparent">
        
        <span class = singleElement>
        <button mat-icon-button class="example-icon">
            <mat-icon>menu</mat-icon>
        </button>
        </span>


        <span class = singleElement>
        <button mat-icon-button class="example-icon" onclick="location.href='https://pl-pl.facebook.com/comarchpl/';">
            <mat-icon>facebook-box</mat-icon>
        </button>
        </span>

        <span class = singleElement> &nbsp; Witamy w aplikacji obsługi pacjentów - MedSystem </span>


      <span class="spacer"></span>

      <a [routerLink]="['/login']"><button class="hover-class" id="patient-button" mat-stroked-button>Pacjent</button></a>

      <a [routerLink]="['/login']"><button class="hover-class" id="doctor-button" mat-stroked-button>Lekarz</button></a>

      <a [routerLink]="['/login']"><button class="hover-class" id="admin-button" mat-stroked-button>Administrator</button></a>

    </mat-toolbar>
  </p>
</body>
