<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Panel Administratora</span>
    <span class="spacer"></span>
  </mat-toolbar>
</p>

<div id="doctorsString">
  <h2>Lista lekarzy pobranych z bazy danych:</h2>
</div>
<mat-selection-list #doctor [multiple]="false">
  <mat-list-option *ngFor="let doctor of doctors" [value]="doctor">
    <div id="doctorsList">

      <button id = "deleteButton" mat-icon-button color="warn" (click)="removeDoctor(doctor)" (click)="onRemove($event)">
        <mat-icon>remove_circle</mat-icon>
      </button>

      <button id ="editButton" mat-icon-button color="black">
        <mat-icon>edit</mat-icon>
      </button>

      {{ doctor.name }} {{doctor.surname}}

    </div>
  </mat-list-option>
</mat-selection-list>








