.spacer {
    flex: 1 1 auto;
}

#doctorsString{
    margin: 1%;
}

#doctorsList{
    display: flex;
    align-items: center;
}

.mat-newDoctorButton {
    background-color: rgb(21, 190, 41);
    color: #fff;
}

.mat-toolbar.mat-primary {
    background-color: rgb(18, 190, 216);
}

.custom-scroll-bar{
    height:25vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

