<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Panel Administratora</span>
    <span class="spacer"></span>
    <button mat-raised-button color="newDoctorButton" (click)="openAddDoctorDialog()">Dodaj lekarza</button>
  </mat-toolbar>
</p>

<!-- To-do -> Ładniejsze wyświetlanie lekarzy wraz z ładnym skalowaniem oraz oddzieleniem ich na liście -->
<div id="doctorsString">
  <h2>Lista lekarzy:</h2>
</div>

<mat-selection-list #doctor [multiple]="false" class="custom-scroll-bar"> 
  <mat-list-option *ngFor="let doctor of doctors" [value]="doctor">
    <div id="doctorsList">

      <button id = "deleteButton" mat-icon-button color="warn" (click)="removeDoctor(doctor)" (click)="onRemove($event)">
        <mat-icon>remove_circle</mat-icon>
      </button>

      <button id ="editButton" mat-icon-button color="black" (click)="openEditDoctorDialog(doctor)" (click)="ngOnInit()">
        <mat-icon>edit</mat-icon>
      </button>
      
      <button id ="editSchedule" mat-icon-button color="black">
        <mat-icon>schedule</mat-icon>
      </button>

      {{ doctor.name }} {{doctor.surname}} : [{{doctor.specializations}}]

    </div>
  </mat-list-option>
</mat-selection-list>










