h1{
    text-align: center;
}

.custom-scroll-bar{
    height:15vh;
    overflow-x: hidden;
}

.specializations{
    text-align: center;
}

#specializationsList{
    display: flex;
    align-items: center;
}

.mat-editDoctorButton {
    background-color: rgb(21, 190, 41);
    color: #fff;
}