<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="icon" (click)="getD()">
        <mat-icon>menu</mat-icon>
      </button>
      <a [routerLink]="['/adminPage']">
        <button mat-icon-button class="icon">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </a>
      Panel Administratora - obsługa grafiku dr.&nbsp;<div *ngIf="doctor?.name">{{doctor.name}}</div> &nbsp; <div *ngIf=doctor?.name>{{doctor.surname}}</div>
      <span class="spacer"></span>
    </mat-toolbar>
  </p>
