<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="icon">
        <mat-icon>menu</mat-icon>
      </button>
      <a [routerLink]="['/adminPage']">
        <button mat-icon-button class="icon">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </a>
      Panel Administratora - obsługa grafiku dr.&nbsp;<div *ngIf="doctor?.name">{{doctor.name}}</div> &nbsp; <div *ngIf=doctor?.name>{{doctor.surname}}</div>
      <span class="spacer"></span>
    </mat-toolbar>
  </p>

  <mat-selection-list #visit [multiple]="false" class="custom-scroll-bar"> 
    <ng-container *ngIf="selectedSchedule">
      <mat-list-option *ngFor="let visit of selectedSchedule.visits">
        <!-- <div id="visitsList">
    
          <button id ="editButton" mat-icon-button color="black" (click)="openEditVistDialog(visit)" (click)="ngOnInit()">
            <mat-icon>edit</mat-icon>
          </button> -->
    
          {{ visit.startHour }} {{visit.finishHour}}, {{visit.isFree}}
    
        <!-- </div> -->
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
