.logging-form{
    margin-top: 10%;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeButton{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 2%;
}